body{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.labell{
    margin-top: 30px;
    margin-bottom: 50px;
}
.masofa{
    margin-right: 20px;
}
.inputs{
    padding: 5px 0 5px 6px;
    margin-right: 20px;
}
.main_box{
    display: flex;
    align-items: center;
}
.boxes{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid #aaa;
    border-radius: 15px;
    width: 200px;
    margin-right: 20px;
    padding-top: 20px;
}
